* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 15px;
}
body {
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.container{
    height: 23.75rem;
    width: 25rem;
    background-color: hsla(213, 19%, 18%, 0.5);
    padding: 2rem 2rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10% auto;
    border-radius: 20px;
}
figure {
    background-color: hsl(213, 19%, 18%);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}
header {
    color: hsl(0, 0%, 100%);
    font-size: 1.5em;
    font-weight: 700;
}
ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
li {
    background-color: hsl(213, 19%, 18%);
    padding: .75rem 1rem;
    border-radius: 100%;
    list-style: none;
    color: hsl(217, 12%, 63%);
    transition-property: all;
    transition-duration: 500ms;
}
li:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
p.content {
    color: hsl(216, 12%, 54%);
    width: 100%;
    line-height: 2;
}
button {
    padding: .5rem 0;
    border-radius: 30px;
    background-color: hsl(25, 97%, 53%);
    border: 1px solid transparent;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    transition-property: all;
    transition-duration: 500ms;
}
button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}
.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(217, 12%, 63%);
}
.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}
.show {
    visibility: visible;
}
.hide {
    visibility: hidden;
}
a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
a:hover {
    color: hsl(25, 97%, 53%);
}
div.thank-you{
    text-align: center;
    height: 25rem;
    width: 25rem;
    background-color: hsla(213, 19%, 18%, 0.5);
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    position: absolute;
    top: 20%;
}
div.thank-you figure {
    margin: 3rem 0;
}
p.ratings {
    color: hsl(25, 63%, 55%);
    background-color: hsl(213, 19%, 18%);
    padding: .3rem 1rem;
    border-radius: 20px;
}
p.appreciation {
    color: hsla(217, 12%, 63%, 0.8);
}